<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de CPF Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gerador de CPF Válido 🇧🇷</h1>
        <div id="cpf-display">Clique para Gerar</div>
        <button onclick="gerarCPF()">Gerar Novo CPF</button>
        <p style="margin-top: 20px; color: #777;">Dados gerados e validados por API Flask</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>